APP_NAME=ow-aurora-serverless
CDK_DEPLOY_REGION=ap-southeast-1
ENVIRONMENT=development

OWNER=OpenWorkspace-o1

VPC_ID=vpc-xxxxxxxx
VPC_SUBNET_TYPE=PRIVATE_ISOLATED
VPC_PRIVATE_SUBNET_IDS=subnet-xxxxxxxx,subnet-xxxxxxxx,subnet-xxxxxxxx
VPC_PRIVATE_SUBNET_AZS=ap-southeast-1a,ap-southeast-1b,ap-southeast-1c
VPC_PRIVATE_SUBNET_ROUTE_TABLE_IDS=rtb-xxxxxxxx,rtb-xxxxxxxx,rtb-xxxxxxxx

COLLECTION_NAMES=collection1,collection2,collection3
COLLECTION_TYPES=SEARCH,TIMESERIES,VECTORSEARCH
